<div class="container">
	<h1>Edit Questions Here</h1>
	<div>
		<%= link_to "Back", questions_path(category_id: @category), class: "button back-button-position" %>
	</div>
	<div class="form-padding">
		<%= form_for @question, url: question_path(@question) do |q| %>
		  <div>
			  <%= q.label :title %><br>
			  <%= q.text_field :title, class: "text-field-dimenstions" %>
			  <%= custom_error_message(q.object, :title) %>
		  </div>
		  <div class="padding-btwn-fileds">
			  <%= q.label :description %><br>
			  <%= q.text_area :description, :rows => 20, :cols => 120%>
			  <%= custom_error_message(q.object, :description) %>
		  </div>
		  <div class="padding-btwn-fileds">
		    <%= q.submit "Update Your Question", class: "button" %>
		  </div>
		<% end %>
	</div>
</div>