<div class="container">
	<h1>Edit Questions Here</h1>
	<div>
		<%= button_to "Back", questions_index_path(@category), :class => "button back-button-position", method: "get" %>
	</div>
	<div class="form-padding">
		<%= form_for @question, url: questions_update_path(@category,@question), method: "put" do |q| %>
		<div>
			<%= q.label :title %><br>
			<%= q.text_field :title, class: "text-field-dimenstions" %>
			<%= custom_error_message(q.object, :title) %>
		</div>
		<div class="padding-btwn-fileds">
			<%= q.label :description %><br>
			<%= q.text_area :description, :rows => 20, :cols => 120%>
			<%= custom_error_message(q.object, :description) %>
		</div>
		<div class="padding-btwn-fileds">
		<%= q.submit "Update Your Question", class: "button" %>
		</div>
		<% end %>
	</div>
</div>