<div class="container">
	<h1><%= @category.titleize %> Questions</h1>
	<div>
		<%= button_to "Ask Question", questions_new_path(@category), :class => "button ask-questions-position", method: "get"%>
		<%= button_to "Back", root_path, :class => "button back-button-position", method: "get" %>
	</div>
	<div class="form-padding">
		<% @questions.each do |question| %>
		<div>
			<% if question.category == @category %>
			<a href="<%= questions_show_path(@category,question) %>" id="title_link"><h4 class="questions-style"><%= question.title %></h4></a>
			<div class="description-style"><%= question.description %></div>
			<div class="questions-devider"></div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>
