<div class="container">
	<h1>Your Question</h1>
	<div class="form-padding">
		<%= form_for @question, url: questions_path(category_id: @category) do |q| %>
		  <div>
			  <%= q.label :title %><br>
			  <%= q.text_field :title, class: "text-field-dimenstions" %>
			  <%= custom_error_message(q.object, :title) %>
		  </div>
		  <div class="padding-btwn-fileds">
			  <%= q.label :description %><br>
			  <%= q.text_area :description,:class => "tinymce", :rows => 20, :cols => 120%>
			  <%= custom_error_message(q.object, :description) %>
		  </div>
		  <div class="padding-btwn-fileds post-btn-padding">
		    <%= q.submit "Post Your Question", class: "button" %>
		  </div>
		<% end %>
	</div>
</div>
<%= tinymce %>