<div class="container">
	<h4 class="show-header">Q:- <%= @question.title %></h4>
	<div class="show-description"><%= @question.description %></div>
	<%= link_to "Upvote", like_question_path(@question), method: :put %>
    <%= link_to "Downvote", dislike_question_path(@question), method: :put %>
    <%= @question.get_upvotes.size %>
	<div class="right-image-position">
	  <%= @user.email %><br>
	  <%= @question.created_at.strftime('%c') %>
	</div>
	<%= link_to "Edit Question", edit_question_path(@question), class: "button" %>
	<div class="questions-devider"></div>
	<% @question.answers.each do |answer| %>
	  <% if answer.category == @category %>
	    <div class="show-answer-position">A:- <%= answer.my_answer %></div>
	    <%= link_to "Upvote", like_question_answer_path(question_id: @question.id, id: answer), method: :put %>
      <%= link_to "Downvote", dislike_question_answer_path(question_id: @question.id, id: answer), method: :put %>
      <%= answer.get_upvotes.size %>
	    <%= link_to "Edit Answer", edit_question_answer_path(question_id: @question.id, id: answer), class: "button" %>
	    <div class="show-email-position">
	      <%= answer.user.email %><br>
	      <%= @question.created_at.strftime('%c') %>
	    </div>
	    <div class="questions-devider"></div>
	  <% end %>
	<% end %>
	<%= link_to "Share Your Answer", new_question_answer_path(question_id: @question.id), class: "button" %>
</div>