<div class="container">
	<h4 class="show-header">Q:- <%= @question.title %></h4>
	<div class="show-description"><%= @question.description %></div>
	<div class="right-image-position">
	  <%= @user.email %><br>
	  <%= @question.created_at.strftime('%c') %>
	</div>
	<%= link_to "Edit Question", questions_edit_path(@category, @question), class: "button" %>
	<div class="questions-devider"></div>
	<% @question.answers.each do |answer| %>
	  <% if answer.category == @category %>
	    <div class="show-answer-position">A:- <%= answer.my_answer %></div>
	    <%= link_to "Edit Answer", answer_edit_path(@category, answer, question_id: @question.id), class: "button" %>
	    <div class="show-email-position">
	      <%= answer.user.email %><br>
	      <%= @question.created_at.strftime('%c') %>
	    </div>
	    <div class="questions-devider"></div>
	  <% end %>
	<% end %>
	<%= link_to "Share Your Answer", answers_new_path(@category, question_id: @question.id), class: "button" %>
</div>