<div class="container">
<h1>View Question</h1>
	<h4 class="show-header">Q:- <%= @question.title %></h4>
	<div class="show-description"><%= @question.description %></div>
	<div class="edit-buttons-position">
	  <%= link_to image_tag("thumb_up.gif"), like_question_path(@question), method: :put, id: 'question_like_button' %>
    <%= link_to image_tag("thumb_down.png"), dislike_question_path(@question), method: :put, id: 'question_unlike_button' %>
    <%= @question.get_upvotes.size %>
  </div>
	<div class="right-image-position">
	  <%= @user.email %><br>
	  <%= @question.created_at.strftime('%c') %>
	</div>
	<%= link_to "Edit Question", edit_question_path(@question), class: "button" %>
	<div class="questions-devider"></div>
	<% @question.answers.each do |answer| %>
	  <% if answer.category == @category %>
	    <div class="show-answer-position">A:- <%= answer.my_answer %></div>
	    <div class="edit-buttons-position">
		    <%= link_to image_tag("thumb_up.gif"), like_question_answer_path(question_id: @question.id, id: answer), method: :put, id: 'answer_like_button' %>
		    <%= link_to image_tag("thumb_down.png"), dislike_question_answer_path(question_id: @question.id, id: answer), method: :put, id: 'answer_unlike_button' %>
		    <%= answer.get_upvotes.size %>
		  </div>
		  <div class="edit-answer-btn">
	    <%= link_to "Edit Answer", edit_question_answer_path(question_id: @question.id, id: answer), class: "button" %>
	    </div>
	    <div class="show-email-position">
	      <%= answer.user.email %><br>
	      <%= @question.created_at.strftime('%c') %>
	    </div>
	    <div class="questions-devider"></div>
	  <% end %>
	<% end %>
	<div class=" post-btn-padding">
	  <%= link_to "Share Your Answer", new_question_answer_path(question_id: @question.id), class: "button" %>
	</div>
</div>