<div class="container">
	<h1>Welcome to Q&amp;A</h1>
		<div class="col-xs-12">
			<div class="col-xs-4 left-image-position">
				<%= link_to image_tag("ruby.jpeg", :class => "image_border "), questions_path, :title => "ruby", id: "ruby_redirction" %>
			</div>
			<div class="col-xs-4 right-image-position">
				<%= link_to image_tag("rails.jpg", :class => "image_border"), '#', :title => "rails" %>
			</div>
			<div class="col-xs-4 left-image-position">
				<%= link_to image_tag("html_css.jpg", :class => "image_border"), '#', :title => "html and css" %>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-4 left-image-position padding-images">
				<%= link_to image_tag("jquery.jpeg", :class => "image_border"), '#', :title => "javascript and jquery" %>
			</div>
			<div class="col-xs-4 right-image-position padding-images">
				<%= link_to image_tag("devops.jpg", :class => "image_border"), '#', :title => "devops" %>
			</div>
			<div class="col-xs-4 right-image-position padding-images">
				<%= link_to image_tag("testing.jpg", :class => "image_border"), '#', :title => "testing" %>
			</div>
		</div>
</div>


