<div class="container">
	<h1><%= @category.titleize %> Questions</h1>
	<div>
		<%= link_to "Ask Question", new_question_path(category_id: @category), class: "button ask-questions-position" %>
		<%= link_to "Home page", categories_path, class: "button back-button-position" %>
	</div>
	<div class="form-padding">
		<%= form_tag category_path, :method => 'get' do %>
	    <div>
	      <%= text_field_tag :search, params[:search], class: "search_field" %>
	      <%= submit_tag "Search", :title => nil, class: "search_button" %>
	    </div>
	  <% end %>
	</div>
	<div class="form-padding">
		<% @questions.each do |question| %>
		  <div>
			  <% if question.category == @category %>
			    <h4 class="questions-style"><a href="<%= question_path(question) %>" id="title_link"><%= question.title %></a></h4>
			    <!-- <div class=""><%#= question.description.first(10).html_safe %></div> -->
			    <div class="padding-btwn-fileds"><%= question.answers.count %> Answer</div>
			    <div><%= question.get_upvotes.size %> Votes</div>
			    <div class="questions-devider"></div>
			  <% end %>
		  </div>
		<% end %>
	</div>
</div>
